.DS_Store
assignments/blank_technology_canvas_report*
assignments/blank_technology_presentation*
slides/class_8.html
slides/class_8.md
slides/class_9.html
slides/class_9.md
slides/class_10.html
slides/class_10.md
slides/class_11.html
slides/class_11.md
slides/class_14.html
slides/class_14.md
slides/class_15.html
slides/class_15.md
holding/*