.DS_Store
holding/*
slides/class_11.html
slides/class_11.md
slides/class_12.html
slides/class_12.md
slides/class_13.html
slides/class_13.md
slides/class_14.html
slides/class_14.md
slides/class_15.html
slides/class_15.md
