.DS_Store
holding/*
slides/class_6.html
slides/class_6.md
slides/class_7.html
slides/class_7.md
slides/class_8.html
slides/class_8.md
slides/class_9.html
slides/class_9.md
slides/class_10.html
slides/class_10.md
slides/class_11.html
slides/class_11.md
slides/class_12.html
slides/class_12.md
slides/class_13.html
slides/class_13.md
slides/class_14.html
slides/class_14.md
slides/class_15.html
slides/class_15.md
assignments/blank_*